* {
  margin:0px;
  padding:0px;
}
body {
  background: #F5F2F0;
}

.noto-sans-200 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

h1 {
  display:block;
  text-align: center;
  margin: 20px auto;
  font: 30px "noto-sans-200", sans-serif;
}
h2 {
  display: block;
  text-align: center;
  margin: 10px auto;
  font: 20px "roboto-bold", sans-serif;
}
p {
  display: block;
  margin: 10px auto;
  font: 14px "roboto-regular", sans-serif;
}
p.thought {
  text-align:left;
    margin-left: 15px;
  border-left: solid #ccb3c2;
    background: rgba(80%,70.2%,76.1%,50%);
}
p.fact {
    
  text-align:left;
  margin-left: 5px;
}
h2.fact{
  text-align:left;
  margin-left: 5px;
}
div.main {
  display: inline-block;
  border:15px ridge #d6cac2;
  margin: 30px;
  background:white;
  width: 400px;
  min-height:300px;
      padding: 10px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 
  /* For mobile phones: */
 
  div.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  div.main {
    display: inline-block;
    margin: 10px;
    background: #E4E1DE;
    width: 90%;
    border:8px ridge #d6cac2;   
    padding: 10px;
}
}

div.grid {
  display: grid;
  grid-template-columns: 40%40%;
}

img {
   width: 150px;
   min-height:150px;
   padding:10px;
   border: hidden;
   border-bottom: #ccb3c2 1px;
   border-radius:10px;
   background-color: white;
}
nav
{
    margin: 10px auto;
}
nav ul
{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  list-style-type:None;
}
nav a
{
  background: #FFFFFFDD;
  border: outset;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: None;
  margin: 50px auto;
  padding: 10px;
  font: 21px "roboto-regular", sans-serif;
}
header
{
  width: 100%;
  background: #E4E1DE url("images/tile.png");
  text-align: center;
  padding: 20px;
  font: 21px "noto-sans-200", sans-serif;
}
main {
  text-align:center;
  
}
button{
  background: #E4E1DE;
  font: 18px "noto-sans-200", sans-serif;
  min-height:100px;
  min-width:200px;
  border: 15px outset #E4E1DE;
  padding:5px; 
  margin: 5px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
form{
    text-align:left;
    font: 14px "noto-sans-200", sans-serif;
}
input[type=submit]{
    display:block;
    text-align:center;
    font: 18px;
    padding: 5px;
    width: 100%;
}
input[type=radio]{
    margin: 5px;
    text-align:left;
}